
.App {
  margin-left: 15px;
  height: 330px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add-bt {
  width: 100px;
  height: 50px;
  color: rgb(64, 216, 125);
}

.sub-bt {
  width: 100px;
  height: 50px;
  color: rgb(39, 116, 211);
}

.status-add {
  border: 1px solid grey;
  color:  rgb(64, 216, 125);
  background-color: black;
}

.status-sub {
  border: 1px solid grey;
  color: rgb(39, 116, 211);
  background-color: black;
}


.operation {
  font-size: 15px;
  color: black;
  width: 15px;
  border-bottom: 2px solid red;

}